.about-wrapper{
    background-image: url("../assets/Images/Marble\ Egypt\ -\ Sinai\ pear\ Sandblasted\ ti.webp");
    display: flex;
    min-height: 50vh;
    background-size: cover;
}
.about-section{
    flex: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-section h1{
    color: var(#9c9c9c);
    font-weight: 600;
  }
  